﻿@model SignupFormViewModel

@{
    ViewBag.Title = "Signup to our Newsletter";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <h2 class="page-header text-center">Join Our Mailing List for the Latest News &amp; Offers</h2>
    @using (Html.BeginForm("Signup", "Newsletter", new { area = string.Empty }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-3">
                <div class="form-group@(ViewData.ModelState.HasError("Name") ? " has-error" : "")">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label sr-only" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your name" })
                </div><!-- /form-group -->
            </div><!-- /col-md-3 -->
            <div class="col-md-6">
                <div class="form-group@(ViewData.ModelState.HasError("Address") ? " has-error" : "")">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label sr-only" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Your email address" })
                    @Html.ValidationMessageFor(m => m.Address, null, new { @class = "help-block" })
                </div><!-- /form-group -->
            </div><!-- /col-md-6 -->
            <div class="col-md-3">
                <button type="submit" class="btn btn-inverse btn-block">Subscribe</button>
            </div><!-- /col-md-3 -->
        </div><!-- /row -->
    }
</div><!-- /container -->