﻿@model IEnumerable<BannerViewModel>

<div id="main-feature" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    @foreach (var banner in Model) {
        <div class="item">
            <img src="~/assets/img/banners/1450x463/@banner.Image" alt="@banner.ImageAlt" />
        </div>
    }
    </div><!-- /carousel-inner -->
</div><!-- /main-feature carousel slide -->