﻿@model BasketOverviewViewModel

<div class="basket">
    <p><span class="count">@Model.Count</span> @Model.Total.ToString("c")</p>
@if (Model.Count > 0) {
    <a href="~/basket" class="btn btn-block btn-success">Place Your Order</a>
}
else if (User.Identity.IsAuthenticated) {
    <a href="@Url.Action("Index", "Account", new {area = string.Empty})" class="btn btn-block btn-success">My Account</a>
}
else {
    <a href="@Url.Action("Login", "Account", new {area = string.Empty})" class="btn btn-block btn-success">Login</a>
}
</div><!-- /basket -->