﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <h3>Please check your email to reset your password.</h3>
</div><!-- /container -->