﻿
@{
    ViewBag.Title = "Your account";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("SignOut", "Account", new { area = string.Empty }, FormMethod.Post, new { role = "form" })) {
        <button type="submit" class="btn btn-danger">Sign out</button>
    }
</div><!-- /container -->