﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <p>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", new { area = string.Empty }, new { id = "loginLink" })</p>
</div><!-- /container -->