﻿@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("ResetPassword", "Account", new {area = string.Empty}, FormMethod.Post, new {role = "form"})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Code)

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-block" })
        </div><!-- /form-group -->

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
        </div><!-- /form-group -->

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-block" })
        </div><!-- /form-group -->
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div><!-- /form-group -->
    }
</div><!-- /container -->