﻿@model IEnumerable<BrandViewModel>

<div class="container">
    <h2 class="text-center">Manufacturers Special Offers</h2>
    <div class="row">
    @foreach (var brand in Model)
    {
        <div class="col-md-2">
            <a href="~/manufacturers/@brand.Permalink" title="@brand.Name">
                <img src="~/assets/img/brands/_small/@brand.Image" alt="@brand.ImageAlt" class="img-responsive center-block" />
            </a>
        </div><!-- /col-md-2 -->
    }
    </div><!-- /row -->
</div><!-- /container -->