﻿.no-csstransforms, .no-csstransitions, .no-csstransforms3d, .no-boxshadow, .no-borderradius, .no-cssanimations {
    .loader {
        display: none;

        &.loader-fallback {
            display: block;
        }
    }
}

.loader {
    background: none repeat scroll 0 0 #dddddd;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset, 0 0 25px rgba(0, 0, 255, .075);
    height: 46px;
    overflow: hidden;
    position: relative;
    width: 46px;

    &.loader-fallback {
        border-radius: 0;
        box-shadow: none;        
        display: none;
        margin: 0 auto;

        &:after {
            display: none;
        }
    }

    &:after {
        background: none repeat scroll 0 0 #f2f2f2;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        content: '';
        display: block;
        height: 28px;
        left: 9px;
        position: absolute;
        top: 9px;
        width: 28px;
    }

    > span {
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 50%;

        .anim {
            background: none repeat scroll 0 0 @cerulean-blue;
            border-radius: 999px;
            height: 100%;
            left: 100%;
            opacity: .8;
            position: absolute;
            top: 0;
            width: 100%;
            -webkit-animation: ui-spinner-rotate-left 2s infinite 0 linear;
            -moz-animation: ui-spinner-rotate-left 2s infinite 0 linear;
            -o-animation: ui-spinner-rotate-left 2s infinite 0 linear;
            animation: ui-spinner-rotate-left 2s infinite 0 linear;
            -webkit-transform-origin: 0 50% 0;
            -moz-transform-origin: 0 50% 0;
            -ms-transform-origin: 0 50% 0;
            -o-transform-origin: 0 50% 0;
            transform-origin: 0 50% 0;
        }

        &.left {
            left: 0;

            .anim {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }

        &.right {
            left: 50%;

            .anim {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                left: -100%;
                -webkit-animation: ui-spinner-rotate-right 2s infinite 1s linear;
                -moz-animation: ui-spinner-rotate-right 2s infinite 1s linear;
                -o-animation: ui-spinner-rotate-right 2s infinite 1s linear;
                animation: ui-spinner-rotate-right 2s infinite 1s linear;
                -webkit-transform-origin: 100% 50% 0;
                -moz-transform-origin: 100% 50% 0;
                -ms-transform-origin: 100% 50% 0;
                -o-transform-origin: 100% 50% 0;
                transform-origin: 100% 50% 0;
            }
        }
    }
}
@-webkit-keyframes ui-spinner-rotate-right{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes ui-spinner-rotate-right{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(180deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(360deg)}
  100%{-moz-transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-right{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(180deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes ui-spinner-rotate-left{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(0deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(180deg)}
  100%{-moz-transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}