﻿.site-header {

    .site-logo {
        margin-top: 35px;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        margin: 35px 0 0;
    }

    h2 {
        font-size: 24px;
        .no-margin();
    }

    nav {
        .container {
            position: relative;
        }

        .col-md-6 {
            position: static;
        }
    }

    .nav {
        > li.dropdown {
            position: static;

            .dropdown-menu {
                border: 0;
                border-bottom: 5px solid @smalt;
                left: 15px;
                margin-top: 0;
                padding: 15px;
                right: 15px;
            }
        }
    }
}