﻿.site-footer {
    height: @site-footer-height;

    h2 {
        font-size: 20px;
        .sm-margin-bottom();
    }

    .site-info {
        .md-padding-top();
        .md-padding-bottom();
    }

    .signup-form {
        .sm-padding-top();
        .sm-padding-bottom();

        h2 {
            color: @pickled-bluewood;
            .xs-margin-bottom();
        }

        .form-group {
            margin-bottom: 0;
        }
    }

    .site-colophon {
        .xs-padding-top();
        .xs-padding-bottom();

        p {
            margin-bottom: 0;
        }
    }
}