﻿.text-cerulean-blue {
  .text-emphasis-variant(@cerulean-blue);
}
.text-fun-blue {
  .text-emphasis-variant(@fun-blue);
}
.text-smalt {
  .text-emphasis-variant(@smalt);
}
.text-loblolly {
  .text-emphasis-variant(@loblolly);
}
.text-pickled-bluewood {
  .text-emphasis-variant(@pickled-bluewood);
}

.bg-cerulean-blue {
  color: #fff;
  .bg-variant(@cerulean-blue);
}
.bg-fun-blue {
  color: #fff;
  .bg-variant(@fun-blue);
}
.bg-smalt {
  color: #fff;
  .bg-variant(@smalt);
}
.bg-loblolly {
  color: #fff;
  .bg-variant(@loblolly);
}
.bg-pickled-bluewood {
  color: #fff;
  .bg-variant(@pickled-bluewood);
}