﻿@model MainNavigationViewModel

<ul class="nav nav-justified">
    <li class="dropdown">
        <a href="~/products" class="dropdown-toggle" data-toggle="dropdown">Products <i class="fa fa-caret-down"></i></a>
        <div class="dropdown-menu bg-cerulean-blue">
            <div class="row">
            @foreach (var menu in Model.Menus) {
                <div class="col-md-3">
                    @if (!string.IsNullOrWhiteSpace(menu.Link)) {
                        <h2><a href="@Url.Content(string.Format("~{0}", menu.Link))">@menu.Name</a></h2>
                    }
                    else {
                        <h2>@menu.Name</h2>
                    }
                    <ul class="list-unstyled">
                        @foreach (var link in menu.Links) {
                            <li><a href="@Url.Content(string.Format("~{0}", link.Link))">@link.Name</a></li>
                        }
                    </ul><!-- /list-unstyled -->
                </div><!-- /col-md-3 -->
            }
            </div><!-- /row -->
        </div><!-- /dropdown-menu -->
    </li><!-- /dropdown -->
    <li><a href="~/about">About Us</a></li>
    <li><a href="~/contact">Contact</a></li>
</ul><!-- /nav nav-justified -->