﻿@model SearchViewModel
@{
    ViewBag.Title = string.Format("Search results for {0}", Model.Phrase);
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="phrase">Search phrase</label>
                <input type="text" class="form-control" value="@Model.Phrase" name="phrase" data-product-phrase />
            </div><!-- /form-group -->
        
            <div class="form-group">
                <label class="control-label">Brand</label>
            </div><!-- /form-group -->

            <div class="form-group">
                <label class="control-label">Category</label>
            </div><!-- /form-group -->
        </div><!-- /col-md-3 -->
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6">
                    <p><span data-product-count>0</span> results</p>
                    <p>Page <span data-product-current-page>@Model.Page</span> of <span data-product-total-pages>1</span>.</p>
                </div><!-- /col-md-6 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="perPage">Products per page</label>
                        <select class="form-control" name="perPage" data-product-per-page>
                            @foreach (var count in Model.ValidCounts) {
                                <option value="@count" @(count == Model.Count ? "selected" : "")>@count</option>
                            }
                        </select><!-- /form-control -->
                    </div><!-- /form-group -->
                </div><!-- /col-md-6 -->
            </div><!-- /row -->
        
            <div class="text-center">
                <ul class="pagination" data-product-pagination>
                </ul><!-- /pagination -->
            </div><!-- /text-center -->
        
            <div data-product-loader>
                @Html.Partial("_Loader")
            </div><!-- /data-product-loader -->
            
            <div class="row" data-product-search></div>
        </div><!-- /col-md-9 -->
    </div><!-- /row -->
    
    <input type="hidden" id="searchUrl" value="@Url.Content("~/api/products/search/")" />
</div><!-- /container -->

@section FooterScripts {
    <script id="productTemplate" type="text/html">
        <article id="product-overview-{{id}}" class="col-sm-6 col-md-4 col-lg-3 product-overview">
            <header class="entry-header">
                <h1 class="entry-title">{{name}}</h1>
                <h2 class="entry-price">&pound;{{displayPrice}}</h2>
            </header>
            <div class="entry-content">
                {{#hasImage}}
                <img src="@Url.Content("~/assets/img/products/300x300/"){{image}}" alt="{{imageAlt}}" class="center-block img-responsive" />
                {{/hasImage}}
                {{^hasImage}}
                <img src="@Url.Content("~/assets/img/products/300x300/300x300.gif")" alt="Placeholder Image" class="center-block img-responsive" />
                {{/hasImage}}
            </div>
            <footer class="entry-footer">
                <a href="@Url.Content("~/product/details/"){{permalink}}" class="btn btn-primary btn-block">View Product</a>
            </footer>
        </article>
    </script>
    
    <script id="paginationTemplate" type="text/html">
        {{#laquo}}
        <li><a href="#" data-product-page="{{laquo}}">&laquo;</a></li>
        {{/laquo}}
        {{^laquo}}
        <li class="disabled"><span>&laquo;</span></li>
        {{/laquo}}
        {{#previous}}
        <li><a href="#" data-product-page="{{page}}">{{page}}</a></li>
        {{/previous}}
        <li class="active"><span>{{current}}</span></li>
        {{#next}}
        <li><a href="#" data-product-page="{{page}}">{{page}}</a></li>
        {{/next}}
        {{#raquo}}
        <li><a href="#" data-product-page="{{raquo}}">&raquo;</a></li>
        {{/raquo}}
        {{^raquo}}
        <li class="disabled"><span>&raquo;</span></li>
        {{/raquo}}
    </script>

    @Scripts.Render("~/js/hogan", "~/js/pages/product-search")
}