﻿@model ProductViewModel
@{
    var displayPrice = Model.DisplayPrice.CalculateVatPrice(Model.VatExempt, Model.VatRate);
    var actualPrice = Model.Price.CalculateVatPrice(Model.VatExempt, Model.VatRate);
}
<div class="offer" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span class="price" itemprop="price">@displayPrice.ToString("c")</span>
    @if (Model.OfferPrice.HasValue) {
        <del>@actualPrice.ToString("c")</del>
    }
    <small>(@Model.DisplayPrice.ToString("c") ex VAT)</small>
    @{
        var availability = Model.Availability.Schema;
        // Override availability if product is discontinued
        if (Model.Discontinued) {
            availability = "Discontinued";
        }
    }
    <link itemprop="availability" href="http://schema.org/@availability" />
</div><!-- /offer -->
