﻿<h2 class="no-margin">No reviews found, <a href="#">be the first to review this product</a>.</h2>

<div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="worstRating" content="1" />
    <p>Rated <span itemprop="ratingValue">10</span> out of <span itemprop="bestRating">10</span> by <span itemprop="reviewCount">256</span> customers.</p>
</div><!-- /rating -->
<ol class="list-unstyled list-reviews">
    <li>
        <div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <span itemprop="name">Great product</span> by <span itemprop="author">Michael</span>, September 1, 2014
            <meta itemprop="datePublished" content="2014-09-01" />
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">10</span>/<span itemprop="bestRating">10</span>
            </div>
            <span itemprop="description">An absolutely stunning product, would recommend to many friends.</span>
        </div>
    </li>
    <li>
        <div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <span itemprop="name">Great product</span> by <span itemprop="author">Michael</span>, September 1, 2014
            <meta itemprop="datePublished" content="2014-09-01" />
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">6</span>/<span itemprop="bestRating">10</span>
            </div>
            <span itemprop="description">An absolutely stunning product, would recommend to many friends.</span>
        </div>
    </li>
    <li>
        <div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <span itemprop="name">Great product</span> by <span itemprop="author">Michael</span>, September 1, 2014
            <meta itemprop="datePublished" content="2014-09-01" />
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">3</span>/<span itemprop="bestRating">10</span>
            </div>
            <span itemprop="description">An absolutely stunning product, would recommend to many friends.</span>
        </div>
    </li>
</ol><!-- /list-unstyled list-reviews -->
