﻿@model IEnumerable<ProductSpecificationViewModel>
<div class="row">
    @foreach (var specification in Model) {
        <div class="col-md-4">
            <h4>@specification.Title</h4>
            <p>@specification.Content</p>
        </div><!-- /col-md-4 -->
    }
</div><!-- /row -->