﻿@model ProductViewModel

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
    ViewBag.Description = Model.MetaDescription ?? Model.Summary;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    // If we have a value in the ViewBag use that else false
    ViewBag.AddedBasket = ViewBag.AddedBasket ?? false;
}

<div class="container">
    
    <article id="product-@Model.Id" itemscope itemtype="http://schema.org/Product">
        
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                @if (ViewBag.AddedBasket) {
                    <div class="alert alert-success">
                        <p>@Model.Name has been added to your basket.</p>
                    </div>
                }
                <h1 itemprop="name">@Model.Name</h1>
                <h3 itemprop="mpn">@Model.Code</h3>

                @Html.Partial("_Price", Model)

                <div class="summary">
                    <p class="lead">@Model.Summary</p>
                </div><!-- /summary -->
            
                @if (Model.Discontinued) {
                    <div class="alert alert-danger">
                        <p>@(Model.DiscontinuedMessage ?? "This product has been discontinued.")</p>
                    </div>
                }
            
                <div class="form-group">
                    <button type="button" data-product="@Model.Id" class="btn btn-primary">Add To Basket</button>
                    <button type="button" data-product="@Model.Id" class="btn btn-secondary">Add To Wishlist</button>
                </div><!-- /form-group -->
            </div><!-- /col-md-6 -->

            <div class="col-md-6 col-md-pull-6">
                @if (string.IsNullOrWhiteSpace(Model.Image)) {
                    <img src="~/assets/img/products/600x600/600x600.gif" alt="No image" itemprop="image" class="img-responsive" />
                }
                else {
                    <img src="~/assets/img/products/600x600/@Model.Image" alt="@Model.ImageAlt" itemprop="image" class="img-responsive" />
                }
            </div><!-- /col-md-6 col-md-pull-6 -->
        </div><!-- /row -->
    
        <hr />
    
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#tabDescription" role="tab" data-toggle="tab">Description</a></li>
            @if (Model.Specifications.Any()) {
                <li><a href="#tabSpecifications" role="tab" data-toggle="tab">Specifications <span class="badge">@Model.Specifications.Count()</span></a></li>
            }
            <li><a href="#tabReviews" role="tab" data-toggle="tab">Reviews</a></li>
        </ul><!-- /nav nav-tabs nav-justified -->
    
        <div class="tab-content">
            <div class="tab-pane active" id="tabDescription" itemprop="description">
                @Model.Content
            </div><!-- /tab-pane tabDescription -->

            <div class="tab-pane" id="tabSpecifications">
                @Html.Partial("_Specifications", Model.Specifications)
            </div><!-- /tab-pane tabSpecifications -->
        
            <div class="tab-pane" id="tabReviews">
                @Html.Partial("_Reviews")
            </div><!-- /tab-pane tabReviews -->
        </div><!-- /tab-content -->

    </article><!-- /product-@Model.Id -->
</div><!-- /container -->