﻿<img src="~/assets/img/all/loader.gif" alt="Loader" class="loader loader-fallback" />
<div class="loader center-block">
    <span class="left"><span class="anim"></span></span>
    <span class="right"><span class="anim"></span></span>
</div><!-- /loader center-block -->