﻿@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>
</div><!-- /container -->