﻿html, body {
    height: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
}

.page {
    margin-bottom: -@site-footer-height;
    min-height: 100%;
    padding-bottom: @site-footer-height + 50px;
}

@import "modules/_site-header.less";

@import "modules/_site-footer.less";