﻿.make-margin(@prefix, @margin) {
    .@{prefix}-margin {
        margin: @margin;
    }    
    .@{prefix}-margin-top {
        margin: 0;
        margin-top: @margin;
    }
    .@{prefix}-margin-right {
        margin: 0;
        margin-right: @margin;
    }
    .@{prefix}-margin-bottom {
        margin: 0;
        margin-bottom: @margin;
    }
    .@{prefix}-margin-left {
        margin: 0;
        margin-left: @margin;
    }
}

.make-padding(@prefix, @padding) {
    .@{prefix}-padding {
        padding: @padding;
    }    
    .@{prefix}-padding-top {
        padding-top: @padding;
    }
    .@{prefix}-padding-right {
        padding-right: @padding;
    }
    .@{prefix}-padding-bottom {
        padding-bottom: @padding;
    }
    .@{prefix}-padding-left {
        padding-left: @padding;
    }
}