﻿// Overrides for Bootstrap variables
@font-family-sans-serif:  "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

@icon-font-path:          "../assets/fonts/";

@border-radius-base:       0;
@border-radius-large:      0;
@border-radius-small:      0;

// Standard variables

@cerulean-blue:     #2651a8;
@fun-blue:          #1947a3;

@smalt:		        #003399;
@loblolly:          #c6ced6;

@malachite:         #10b14c;

@pickled-bluewood:  #293949;

// Margin variables
@xs-margin:         5px;
@sm-margin:         10px;
@md-margin:         15px;
@lg-margin:         20px;

// Padding variables
@xs-padding:        5px;
@sm-padding:        10px;
@md-padding:        15px;
@lg-padding:        20px;

// Footer variable
@site-footer-height: 402px;